
<%- include('partials/header') %>

<div class="jumbotron text-center" style="background-color: #007bff; padding: 20px;">
    <h1 style="color: white; font-weight: bold;">Admin decision is <%= decision %> </h1>
    <h1 style="color: red; font-weight: bold;">Admin Value is <%= value %> </h1>

</div>

<%- include('partials/footer') %>
